# Core
fastapi
uvicorn[standard]
pydantic

# Database
sqlmodel
pymysql
cryptography
alembic

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Testing
pytest
pytest-asyncio
httpx