# Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Database
sqlmodel
pymysql
cryptography

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Testing
pytest
pytest-asyncio
httpx